{% if breadcrumb %}
  <div class="container mx-auto px-3 text-secondary my-3">
    <nav role="navigation" aria-labelledby="system-breadcrumb">
      <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      <ol class="flex gap-1">
        {% for item in breadcrumb %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}

            {% if not loop.last %}
              <i class="fa-solid fa-angle-right"></i>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endif %}
