<div class="nav-button">
  <button @click.stop="sidebarToggle = !sidebarToggle" class="border border-primary bg-secondary text-secondary  rounded px-3 py-2"><i class="fa-solid fa-bars"></i><span class="sr-only">{{ 'Open navigation menu'|t }}</span></button>
</div>
