<aside>
  <div :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'" @click.outside="sidebarToggle = false" role="nav" class="bg-secondary text-primary absolute top-0 left-0 w-96 drop-shadow-md p-5 h-screen z-20 rounded-r-md">
    <header class="flex">
      <div class="brand dark:text-white">
        {{ page.header.ai_launchpad_sitebranding }}
      </div>
      <button class="ms-auto" @click.stop="sidebarToggle = !sidebarToggle">
        <i class="fa-solid fa-xmark"></i><span class="sr-only">{{ 'Close navigation menu'|t }}</span>
      </button>
    </header>
    <main class="text-primary">
      {{ page.global_navigation_menu }}
    </main>
    <div class="mt-8">
      {{ page.global_navigation_menu_secondary_brand }}
    </div>
  </div>
  <div :class="sidebarToggle ? 'block' : 'hidden'" class="bg-primary opacity-0 w-100 h-100 absolute top-0 bottom-0 left-0 right-0 z-10">
  </div>
</aside>
