<div class="hidden sm:block">
    <form action="">
    <div class="relative">
        <button class="absolute left-0 top-1/2 -translate-y-1/2">
            <i class="fa-solid fa-magnifying-glass text-secondary"></i>
        </button>
        <input type="text" placeholder="{{ 'Type to search...'|t }}" class="border-none w-full bg-transparent pl-9 pr-4 focus:outline-none xl:w-125">
    </div>
    </form>
</div>
